$main-color: #1A1A1A;
$black: #2B2A29;
$blue: #3B75DD;
$light-blue:#448AFF;
$light-blue2:#E0ECFF;
$grey: #9095A9;
$dark-grey:rgba(109, 115, 140, 0.6);
$fgrey: #3D3D3D;
$violet: #251A51;
$grey-violet: #6D738C;
$grey-nav: #595D6C;
$pink: #FF4F77;
$green: #1AC161;
$milk:#F9F2FC;